@import "tailwindcss";

/* 1. تعريف المتغيرات الأصلية داخل النطاق العام مباشرة لسرعة القراءة */
:root {
  --background: #f4f6f9;
  --foreground: #ffffff;
  --primary: #111827;
  --base: #1B1B32;
  --eloq-purple: #460546;
  --eloq-soft-purple:  rgba(161, 20, 161, 0.603);
  --eloq-black: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* 2. ربط المتغيرات بـ Tailwind CSS v4 دون إلغاء الألوان الافتراضية */
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-base: var(--base);
  --color-eloq-purple: var(--eloq-purple);
  --color-eloq-soft-purple: var(--eloq-soft-purple);
  --color-eloq-black: var(--eloq-black);


  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-nunito: var(--font-nunito);
  --font-lato: var(--font-lato);
  --font-inter: var(--font-inter);
}

/* 3. تطبيق القواعد العامة على العناصر باستخدام ميزة @utility أو القواعد القياسية لتايلوند */
@layer base {
  body {
    background-color: var(--background);
    color: var(--base);
    font-size: 16px;
    font-family: var(--font-inter) sans-serif;
  }

  /* == SCROLLBAR == */
  /* Width */
  ::-webkit-scrollbar {
    width: 12px;
    height: 8px;
  }

    /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

    /* Thumb */
  ::-webkit-scrollbar-thumb {
    background: #9233eabb;
    border-radius: 999px;
    border: 2px solid transparent;
    background-clip: content-box;
    transition: background 0.2 ease;
  }

  /* Hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #A855F7;
    background-clip: content-box;
  }

  /* Active / Dragging  */
  ::-webkit-scrollbar-thumb:active {
    background: #9333ea;
    background-clip: content-box;
  }

  /* Remove arrows */
  ::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
  }

  /* Corner */
  ::-webkit-scrollbar-corner {
    background: transparent;
  }

  /* Firefox suuply */
  /* * {
    scrollbar-width: thin;
    scrollbar-color: #9333EA transparent;
    scrollba
  } */
}

